@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;}
body{
  background: var(--blue);
}

.page-wrap {
  margin-left: 249px;
}

.App .top-blank{
  height: 300px;
  background: rgb(255, 255, 255);
}

.App hr{
  border: 1px solid var(--red);
}

.wrap-center{
  margin: auto;
  width: 95%;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

:root {
  --red: rgb(168, 38, 38);
  --blue: rgb(19, 28, 44);
  --white: #fff;
}

@media screen and (max-width: 920px){
  .page-wrap {
    margin-left: 0px;
  }
}