.About {
    color: #fff;
}

.About > div {
    text-align: right;
}

.About{
    background: url('/client/public/images/about-bg.png');
}
.About h1 {
    /* margin-top: 10rem; */
    margin-bottom: 1rem;
}

.About h2 {
    font-size: 1.2rem;
}

.About p:first-of-type {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
}
.About .author-quote {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    text-align: right;
}

.About span {
    color: var(--red);
}