.WorkCard {
    position: relative;
    border-radius: 5px;
    border: none;
    background: #fff;
    padding-bottom: 4rem;
}

.WorkCard>img {
    object-fit: cover;
    width: 100%;
    height: 260px;
    border-radius: 5px 5px 0 0;
}

.WorkCard .languages-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}

.WorkCard .languages-logo img {
    margin: 3px;
    width: 20px;
}

.WorkCard .text-card {
    padding: 1rem;
}

.WorkCard .text-card p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.WorkCard .github-button, .WorkCard .view-button {
    position: absolute;
    bottom: 25px;
}

.WorkCard .github-button img {
    width: 20px;
}

.WorkCard .github-button {
    right: 20px;
}

.WorkCard .view-button {
    left: 20px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--red);
}

.WorkCard .view-disabled {
    background-color: rgba(168, 38, 38, 0.192);
}

.WorkCard .view-button a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}